/* sidStyles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f2f5;
    overflow: hidden;
    transition: background 0.3s;
}

/* Navigation.Bar */
.top-nav {
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: 800;
    color: #ff5e00;
    letter-spacing: 1px;
}

.top-actions {
    display: flex;
    gap: 5px;
}

/* Layout*/
.app-container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 200px;
    background: #fff;
    border-right: 2px solid #ddd;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.tool-group,
.settings-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tool-group span,
.settings-group span {
    font-size: 10px;
    font-weight: bold;
    color: #888;
}

/*Buttons and Inputs */
button {
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

button:hover {
    border-color: #ff5e00;
    background: #fff9f5;
}

/* Active Highlight bolte*/
button.active {
    background: #ff5e00 !important;
    color: #fff !important;
    border-color: #ff5e00 !important;
}

.primary {
    background: #ff5e00;
    color: #fff;
    border: none;
}

.danger {
    color: #e74c3c;
}

/*Canvas Section */
.canvas-holder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e9ecef;
    overflow: hidden;
    position: relative;
    /*Added for eraser cursor*/
}

canvas {
    background: #fff;
    cursor: crosshair;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    max-height: 100%;
}

#eraser-cursor {
    position: fixed;
    border: 1px solid #555;
    border-radius: 50%;
    pointer-events: none;
    display: none;
    z-index: 1000;
}

/* Dark Mode Theme*/
.dark-mode {
    background: #111;
}

.dark-mode .top-nav,
.dark-mode .sidebar {
    background: #252525;
    color: #eee;
    border-color: #333;
}

.dark-mode button {
    background: #333;
    color: rgb(255, 255, 255);
}

/*Mobile responsive */
@media (max-width: 650px) {
    .sidebar {
        width: 100px;
        padding: 10px 5px;
    }

    .sidebar span,
    .sidebar label {
        font-size: 9px;
    }

    button {
        padding: 15px 5px;
        font-size: 11px;
    }

    .logo {
        font-size: 14px;
    }
}